@font-face {
    font-family: 'DVN-Rubik';
    src: url('DVNRubik-Regular.woff2') format('woff2'),
        url('DVNRubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DVN-Rubik';
    src: url('DVNRubik-Bold.woff2') format('woff2'),
        url('DVNRubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

