.item-service {
  background-color: #fff;
  padding: 1.5rem;
  font-size: 15px;
  position: relative;

  &::before {
    position: absolute;
    height: 70%;
    left: 0;
    top: 15%;
    border-left: 1px solid #C7C7C7;
    content: '';

  }

  &:first-child {
    &::before {
      border-left: 0;
    }
  }

  &:hover {
    background: #FCD804;
  }

}

.select {
  text-align: -webkit-center;

  .thin-arrow {
    transform: rotate(90deg);
    font-size: 26px;

  }
}

@media screen and (max-width: 1000px) {
  .delivery {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .delivery {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}