.item-service {
    background-color: #fff;
    padding: 1.5rem;
    font-size: 15px;
    position: relative;

    &::before {
        position: absolute;
        height: 70%;
        left: 0;
        top: 15%;
        border-left: 1px solid #C7C7C7;
        content: '';

    }

    &:first-child {
        &::before {
            border-left: 0;

        }
    }

    &:hover {
        background: #FCD804;
    }

}